/*CSS bOX MODEL */
a{
    border-width: 4px;
    border-style: solid;
    border-color: rgb(28, 3, 3);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 25px;
    margin: 15px;
}
/* hyperlink- different states :unvisited ,visited,hover and selected */
/* unvisited link */
a:link{
    color: rgb(247, 247, 244);
    background-color: rgb(248, 178, 143);
    text-decoration: none;
}
/* visited link - a user has already visited the page*/
a:visited{
    color: rgb(247, 247, 244);
    background-color: rgb(245, 82, 172);
    text-decoration: none;
}
/* hover -when the cursor is on top of the link hence background changes*/
a:hover{
    color: rgb(247, 247, 244);
    background-color: rgb(46, 5, 27);
    text-decoration: underline;
}
/* selected - when the link is clicked*/
a:active{
    color: rgb(247, 247, 244);
    background-color: rgb(162, 4, 67);
    
}
/* list properties */
ul{
    list-style-type: circle;
    list-style-position: outside;
    list-style-image: url();
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 150%;
}
tr:hover {
    background-color: rgb(183, 131, 178);
}
/* display properties */
input{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}